@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Manrope:wght@200&family=Pacifico&display=swap");
/* font-family: "Manrope", sans-serif;
font-family: "Pacifico", cursive;
font-family: "Gravitas One", cursive; */

body {
  background-color: rgba(205, 222, 234, 0.695);
  font-family: "Manrope", sans-serif;
}
/* //--------------------🦴 🦴 🦴  Title Section 🦴 🦴 🦴--------------------// */
#title-div {
  color: rgb(0, 0, 108);
  display: flex;
  gap: 2rem;
  background-color: rgba(178, 223, 255, 0.311);
}
#title-div h1 {
  font-size: 4rem;
  font-family: "Gravitas One", cursive;
  padding-left: 2rem;
}
#title-div p {
  color: rgba(0, 0, 165, 0.695);
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  padding-top: 1.8rem;
}
/* //--------------------🦴 🦴 🦴  News / Goodest Dog 🦴 🦴 🦴--------------------// */
#news-div {
  background-color: rgba(187, 0, 0, 0.787);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  width: 550px;
  max-height: 800px;
  border-radius: 20px;
  margin: 0 2rem 0 2rem;
  z-index: 1000;
  position: fixed;
  top: 3rem;
  right: 8rem;
  text-align: center;

  /* FLASHING BACKGROUND
  animation: blinkingBackground 2s infinite; */
}
/* @keyframes blinkingBackground {
  70% {
    background-color: #5c0a0a;
  }
  115% {
    background-color: #c01010;
  }
  100% {
    background-color: #ab2c2855;
  }
} */
#news-div img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  /* margin-bottom: 20px; */
}
#news-div button {
  margin: 10px;
}
/* //--------------------🦴 🦴 🦴  Create User Section 🦴 🦴 🦴--------------------// */
#create-button-div {
  text-align: center;
  margin: 2rem 0 1rem 0;
}
#create-profile-button {
  color: rgb(0, 2, 145);
  border: 5px solid white;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Gravitas One", cursive;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0008ffcd;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
#create-profile-button:hover {
  box-shadow: inset 0 100px 0 0 #000479;
  color: white;
}

/* //--------------------🦴 🦴 🦴 Online Friends Section 🦴 🦴 🦴--------------------// */
#friends-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  gap: 40px;
  padding: 2rem;
  margin: 0 2rem 0 2rem;
}
.local-dog-card {
  height: 70vh;
  width: 250px;
  background: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10%;
}
.local-dog-card p {
  font-family: "Gravitas One", cursive;
  font-size: 1.2rem;
}
.local-dog-img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.like-name-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.like-name-div h2 {
  font-size: 1.4rem;
}
#local-dog-name-text {
  color: blue;
  font-family: "Pacifico", cursive;
}
#online-gif {
  height: 1.7rem;
  filter: invert(40%);
}
#like-button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
.hidden {
  display: none;
}
.form {
  margin: auto;
  width: 12.5%;
  display: flex;
  flex-direction: column;
}
.form label {
  padding-top: 10px;
}
.form button {
  margin-top: 15px;
  width: 50%;
}
